
.DS_Store
LTPDPublicGit/LTPDPublicGit.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
LTPDPublicGit/LTPDPublicGit.xcodeproj/project.xcworkspace/xcuserdata/techm.xcuserdatad/UserInterfaceState.xcuserstate
LTPDPublicGit/LTPDPublicGit.xcodeproj/xcuserdata/techm.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
